body {
  background-color: black;
  color: lime;
  font-family: "Courier New", monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
}

.container {
  max-width: 600px;
  padding: 20px;
  border: 2px solid lime;
  border-radius: 10px;
}

input, button {
  background-color: black;
  color: lime;
  border: 1px solid lime;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: lime;
  color: black;
  cursor: pointer;
}

#api-result {
  margin-top: 20px;
  font-size: 1.2em;
}